<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <meta charset="UTF-8">
        <title>Hello World!</title>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div id="main-content" class="container">
            <h1 th:inline="text">안녕하세요 [[${#httpServletRequest.remoteUser}]]!</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" th:action="@{/logout}" method="post">
                <div class="form-group">
                    <input type="submit" value="Sign Out"/>
                </div>
            </form>
        </div>
        <div class="col-md-6">
		로그인한 유저: <a th:href="@{|/user/${#authentication.name}|}" sec:authentication="name"></a>

                <div class="form-group">
			        <p>클릭 <a th:href="@{/chatchat}">채팅창으로</a> to chat</p>
			        <p>클릭 <a th:href="@{/views}">메모장으로</a> to write</p>
			        <p>클릭 <a th:href="@{/images}">파일폴더로</a> to view</p>
                </div>
        </div>
    </div>
</div>
    </body>
</html>