<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <meta charset="UTF-8">
        <title>Hello jQuery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="note.js"></script>
    </head>

    <body>
    <div class="row">
        <div class="col-md-12">
            <table id="note_table" class="table table-striped">
                <thead>
                <tr>
                    <th>메모들</th>
                </tr>
                </thead>
                <tbody id="note_body">
                </tbody>
            </table>
        </div>
    </div>
        <div class="col-md-6">
            <form class="form-inline" id="post_note_form">
                <div class="form-group">
                    <label for="name">메모를 쓰세요</label>
                    <span id="nickname" sec:authentication="name"></span>
                    <input type="text" id="title" class="form-control" placeholder="제목은...">
                    <input type="text" id="content" class="form-control" placeholder="내용은...">
                </div>
                <button class="btn btn-default" type="submit">보내기</button>
            </form>
        </div>
    </body>
</html>